# Port of the application
PORT=5987

NEYNAR_API_KEY=

# URL of the auth provider Frame
AUTHORIZED_FRAME_URL=

# Database host
DB_HOST=localhost

# Database port
DB_PORT=3306

# Database user
DB_USER=testnet_cast_action

# Database password
DB_PASSWORD=

# Database name
DB_NAME=testnet_cast_action

# Environment type
ENV_TYPE=development

# Base URL for the application
PUBLIC_URL=

# Memcached URL
MEMCACHED_URL=localhost:11211
